<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BachelorBlog</title>
</head>

<body style="background-color: #13386C;">
    <div class="container">
        <h1 class="mb-1 mt-4 text-light">
            <%= article.title %>
        </h1>
        <div class="text-muted mb-2">
            <%= article.createdAt.toLocaleString("nn") %> - <%= article.author %>
        </div>
        <a href="/" class="btn btn-info">Tilbake</a>

        <div class="mt-4 bg-white p-3" style="border-radius: 10px;">
            <%- article.sanitizedHtml %>
        </div>
        <footer class="container mt-5 text-light">
            <p>&copy; 2021 Erlend&Robin</p>
        </footer>
    </div>
</body>

</html>